.newHerb {
  margin: 15px 0;
}

.fields {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-column-gap: 10px;
}

.calculate {
  float: right;
}

p.border {
  border: 1px solid;
  border-style: ridge;
}
