<h1>Pesticide calculator</h1>
<div class="buttons">
  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="addHerbicide()"
  >
    Add Item
  </button>
  <button
    class="reset"
    mat-raised-button
    color="warn"
    type="button"
    (click)="resetHerbicides()"
  >
    Reset
  </button>
</div>

<ng-container *ngFor="let herb of herbFormGroups; index as i">
  <form [formGroup]="herb" class="fields">
    <mat-form-field appearance="outline">
      <mat-label>Herbicide name</mat-label>
      <input
        type="text"
        matInput
        formControlName="herbicide"
        placeholder="Ex. Nordox"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Default dosage</mat-label>
      <input
        type="text"
        matInput
        formControlName="dosageVolume"
        placeholder="Ex. 20/100"
      />
      <mat-error *ngIf="herb.get('dosageVolume')?.hasError('required')">
        Please enter dosage ratio!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Dosage unit</mat-label>
      <mat-select
        formControlName="dosageUnit"
        (selectionChange)="onDosageUnitChange(herb.get('dosageUnit')?.value, i)"
      >
        <mat-option *ngFor="let unit of dosageUnits" [value]="unit">{{
          unit
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="herb.get('dosageUnit')?.hasError('required')">
        Please enter dosage unit!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Desired volume</mat-label>
      <input
        type="text"
        matInput
        formControlName="userVolume"
        placeholder="Ex. 10"
        mask="9999999"
      />
      <mat-error *ngIf="herb.get('userVolume')?.hasError('required')">
        Please enter desired volume!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Volume unit</mat-label>
      <mat-select formControlName="userVolumeUnit">
        <mat-option *ngFor="let unit of userVolumeUnits[i]" [value]="unit">{{
          unit
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="herb.get('userVolumeUnit')?.hasError('required')">
        Please enter dosage unit!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Result</mat-label>
      <input type="text" matInput formControlName="dosageResult" readonly />
    </mat-form-field>
  </form>
  <p class="border"></p>
</ng-container>

<div class="calculation">
  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="calculateDosage()"
  >
    Calculate
  </button>
</div>
