.newHerb {
  margin-bottom: 15px !important;
}

.ratioVolumeUnit .mat-form-field-infix {
  display: inherit;
}

.fields {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-column-gap: 10px;
}

.calculate {
  float: right;
}

p.border {
  border: 1px solid;
  border-style: ridge;
}

@media screen and (max-width: 1050px) {
  .fields {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .fields {
    grid-template-columns: none;
  }
}
