<h1>Pesticide calculator</h1>
<h3>Calculate the needed dosage of the herbicide for your volume</h3>
<button
  class="newHerb"
  mat-raised-button
  color="primary"
  type="button"
  (click)="addHerbicide()"
>
  Add Herbicide
</button>

<ng-container *ngFor="let herb of herbFormGroups; index as i">
  <form [formGroup]="herb" class="fields">
    <mat-form-field appearance="outline">
      <mat-label>Herbicide name</mat-label>
      <input
        type="text"
        matInput
        formControlName="herbicideName"
        placeholder="Ex. Nordox"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Rate of application</mat-label>
      <input
        type="text"
        matInput
        formControlName="recommendedRate"
        placeholder="Ex. 20/100"
      />
      <mat-error *ngIf="herb.get('recommendedRate')?.hasError('required')">
        Enter dosage ratio!
      </mat-error>
      <mat-error
        *ngIf="
          !herb.get('recommendedRate')?.hasError('required') &&
          herb.get('recommendedRate')?.hasError('validRatioVolume')
        "
      >
        Enter ratio as for ex. 50/100
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Dosage unit</mat-label>
      <mat-select
        formControlName="recommendedUnit"
        (selectionChange)="
          onDosageUnitChange(herb.get('recommendedUnit')?.value, i)
        "
      >
        <mat-option *ngFor="let unit of dosageUnits" [value]="unit">{{
          unit
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="herb.get('recommendedUnit')?.hasError('required')">
        Enter dosage unit!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Your volume</mat-label>
      <input
        type="text"
        matInput
        formControlName="userVolume"
        placeholder="Ex. 10"
        mask="9999999"
      />
      <mat-error *ngIf="herb.get('userVolume')?.hasError('required')">
        Enter desired volume!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Your volume unit</mat-label>
      <mat-select formControlName="userVolumeUnit">
        <mat-option *ngFor="let unit of userVolumeUnits[i]" [value]="unit">{{
          unit
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="herb.get('userVolumeUnit')?.hasError('required')">
        Enter dosage unit!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Result</mat-label>
      <input type="text" matInput formControlName="dosageResult" readonly />
    </mat-form-field>
  </form>
  <p [class.border]="herbFormGroups.length > 1"></p>
</ng-container>

<button
  mat-raised-button
  color="warn"
  type="button"
  (click)="resetHerbicides()"
>
  Reset
</button>
<button
  class="calculate"
  mat-raised-button
  color="primary"
  type="button"
  (click)="calculateDosage()"
>
  Calculate
</button>
