/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  overflow-x: hidden;
}
body {
  margin: 2.5em 5em;
  font-family: monospace;
}

.mat-form-field-wrapper {
  padding: 0 !important;
}
