/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  overflow-x: hidden;
}
body {
  margin: 2.5vw 5vw;
}

* {
  font-family: monospace;
}

.mat-form-field-wrapper {
  padding: 0 !important;
}

.mat-form-field {
  width: 100%;
}

@media screen and (max-width: 400px) {
  body {
    margin: 5vw;
  }
}
